#ooo{
    padding:40px 20px 20px ;
}
#search_bar{
    height: 200px;
    width: 900px;
    margin: 20px auto;
    border:1px solid #888888;
    display: flex;
    flex-direction: column;
}
.serch{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6f0aa7;
}
.input{
    margin-left: 35px;
    height: 26px;
    width: 120px;
}
.text1{
    margin-left: 35px;
}
.none{
    visibility: hidden;
}
.serch2{
    padding-left: 118px;
    color: #6f0aa7;
}
#type1{
    height: 32px;
    width: 124px;
    font-size: 21px;
    margin-left: 32px;
    padding-left: 20px;
    cursor: pointer;
}
option{
    height: 26px;
    width: 120px;
    cursor: pointer;
}
#type2{
    height: 32px;
    width: 124px;
    font-size: 21px;
    padding-left: 20px;
    margin-left: 32px;
    cursor: pointer;
}

#search_button{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 5px;
    color: white;
    margin-right: 120px;
    margin-left: 20px;
    cursor: pointer;
}
#clear_all{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.serch3{
    height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#job_list{
    height: 400px;
    width: 900px;
    margin: 20px auto ;
    border: 1px solid #888888;
    color: #6f0aa7;
}
#job_list_title{
    width: 900px;
    height: 30px;
    padding: 0 25px 0 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #888888;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#new_add{
    height: 22px;
    width: 60px;
    cursor: pointer;
    background-color: forestgreen;
    border-radius: 4px;
    color: white;
    text-align: center  ;
}